.lv-body
  .lv-item.calendar-item.calendar-header-title.hidden-md
    .media
      .pull-left
        i.mdi.mdi-checkbox-multiple-blank-circle.all-calendars-selected
      .media-body
        .lv-title {{ 'My calendars' | translate }}
  .lv-item.calendar-item.calendar-header-title-desktop.visible-md.clickable.toggle-submenu.waves-classic
    .media
      .badge-container(calendar-list-toggle)
        .caret-submenu
          i.mdi.mdi-menu-down
      .calendar-item-left
          i.mdi(ng-class="!$ctrl.calendarsToggled? 'mdi-checkbox-multiple-blank-circle' : 'mdi-checkbox-multiple-blank-circle-outline'",ng-click="$ctrl.selectAllCalendars('userCalendars',$ctrl.calendarsToggled=!$ctrl.calendarsToggled)")
      .media-body
        .lv-title {{ 'My calendars' | translate }}

  ul.no-padding
    calendars-list-items(
      calendars="$ctrl.userCalendars",
      toggle-calendar="$ctrl.toggleCalendar",
      hidden-calendars="$ctrl.hiddenCalendars",
      calendar-type='"userCalendars"',
      length-user-calendars="$ctrl.lengthUserCalendars"
    )
