.lv-body
  .lv-item.calendar-item.calendar-header-title.hidden-md
    .media
      .pull-left
        i.mdi.mdi-checkbox-multiple-blank-circle.all-calendars-selected
      .media-body
        .lv-title {{ 'Shared calendars' | translate }}
  .lv-item.calendar-item.calendar-header-title-desktop.visible-md.clickable.toggle-submenu.waves-classic
    .media
      .badge-container(calendar-list-toggle)
        .caret-submenu
          i.mdi.mdi-menu-down
      .calendar-item-left
        i.mdi(ng-class="!$ctrl.calendarsToggled? 'mdi-checkbox-multiple-blank-circle' : 'mdi-checkbox-multiple-blank-circle-outline'",ng-click="$ctrl.selectAllCalendars('sharedCalendars',$ctrl.calendarsToggled=!$ctrl.calendarsToggled)")
      .media-body
        .lv-title {{ 'Shared calendars' | translate }}

  ul.no-padding
    calendars-list-items(
      calendars="$ctrl.sharedCalendars",
      toggle-calendar="$ctrl.toggleCalendar",
      hidden-calendars="$ctrl.hiddenCalendars",
      state-to-go="'calendar.external.shared'",
      show-details="true",
      calendar-type="'sharedCalendars'",
      length-user-calendars="$ctrl.lengthUserCalendars"

    )

    calendars-list-items(
      calendars="$ctrl.publicCalendars",
      toggle-calendar="$ctrl.toggleCalendar",
      hidden-calendars="$ctrl.hiddenCalendars",
      state-to-go="'calendar.external.shared'",
      show-details="true",
      calendar-type="'sharedCalendars'",
      length-user-calendars="$ctrl.lengthUserCalendars"

    )
