.cal-event-date-suggestion
  .form-group
    .input-group
      span.input-group-addon
        i.mdi.mdi-calendar-clock
      .col-xs-12.col-md-4
        .form-group
          .fg-line
            input.input.form-control.date(
              type="text",
              size="10",
              ng-model="ctrl.start",
              data-autoclose="1",
              data-start-week="1",
              data-date-format="{{::ctrl.dateFormat}}",
              placeholder="{{ 'Start date' | translate }}",
              ng-change="ctrl.onStartDateChange()",
              ng-blur="ctrl.dateOnBlurFn()",
              bs-datepicker,
              aria-expanded="false",
              cal-date-to-moment
              ng-if="!ctrl.isMobile"
            )
            input.input.form-control(
              type="date",
              ng-model="ctrl.startTime",
              ng-change="ctrl.onStartDateTimeChange()",
              ng-disabled="ctrl.full24HoursDay",
              ng-if="ctrl.isMobile"
            )
          .fg-line(ng-if='!ctrl.full24HoursDay')
            time-select(
              date="ctrl.start",
              on-time-change="ctrl.onStartDateChange",
              locale="{{ ::ctrl.locale }}",
              time-format="{{ ::ctrl.timeFormat }}"
              ng-if="!ctrl.isMobile"
            )
            input.input.form-control(
              type="time",
              ng-model="ctrl.startTime",
              ng-change="ctrl.onStartDateTimeChange()",
              ng-blur="ctrl.dateOnBlurFn()",
              ng-disabled="ctrl.full24HoursDay",
              ng-if="ctrl.isMobile"
            )
      .col-xs-12.col-md-4
        .form-group
          .fg-line
            input.input.form-control.date(
              type="text",
              size="10",
              class="form-control",
              ng-model="ctrl.end",
              data-autoclose="1",
              data-start-week="1",
              data-date-format="{{::ctrl.dateFormat}}",
              data-min-date="{{ctrl.getMinDate()}}",
              placeholder="{{ 'End date' | translate }}",
              ng-change="ctrl.onEndDateChange()",
              aria-expanded="false",
              ng-blur="ctrl.dateOnBlurFn()",
              bs-datepicker,
              cal-date-to-moment,
              cal-friendlify-end-date,
              data-is-all-day="ctrl.full24HoursDay"
              ng-if="!ctrl.isMobile"
            )
            input.input.form-control(
              type="date",
              ng-model="ctrl.endTime",
              ng-change="ctrl.onEndDateTimeChange()",
              ng-disabled="ctrl.full24HoursDay",
              ng-if="ctrl.isMobile"
            )
          .fg-line(ng-if='!ctrl.full24HoursDay')
            time-select(
              date="ctrl.end",
              on-time-change="ctrl.onEndDateChange",
              locale="{{ ::ctrl.locale }}",
              time-format="{{ ::ctrl.timeFormat }}"
              ng-if="!ctrl.isMobile"
            )
            input.input.form-control(
              type="time",
              ng-model="ctrl.endTime",
              ng-change="ctrl.onEndDateTimeChange()",
              ng-blur="ctrl.dateOnBlurFn()",
              ng-disabled="ctrl.full24HoursDay",
              ng-if="ctrl.isMobile"
            )
      .col-xs-12.col-md-4
        .form-group.nopadding
          .fg-line
            .checkbox.allday
              label
                input(type="checkbox", ng-model='ctrl.full24HoursDay', ng-change="ctrl.setEventDates();")
                i.input-helper
                span {{ 'All day' | translate }}
      .col-xs-12
        .form-group
          .input-group.full-width
            .fg-line
              textarea.form-control(type="text", ng-model='ctrl.event.comment', rows='3', placeholder="{{ 'Comment...' | translate }}")