.cal-event-date-edition
  .col-xs-12
    .form-group
      .input-group
        span.input-group-addon
          i.mdi.mdi-clock
        .col-xs-12.col-md-4
          .fg-line
            esn-date-picker(
              ng-model='ctrl.start',
              ng-change="ctrl.onStartDateChange()",
              placeholder="{{ 'Start date' | translate }}",
              ng-disabled="ctrl.disabled",
              ng-blur="ctrl.dateOnBlurFn()",
              size="10",
              date-format="{{::ctrl.dateFormat}}",
              autoclose="1",
              start-week="1",
              custom-attributes="{'cal-date-to-moment': 'cal-date-to-moment'}"
              ng-if="!ctrl.isMobile"
            )
            input.input.form-control(
              type="date",
              ng-model="ctrl.startTime"
              ng-disabled="ctrl.disabled",
              ng-change="ctrl.onStartDateTimeChange()"
              ng-if="ctrl.isMobile"
            )
          .form-group
            .fg-line(ng-if='!ctrl.full24HoursDay')
              time-select(
                date="ctrl.start",
                on-time-change="ctrl.onStartDateTimeChange",
                locale="{{ ::ctrl.locale }}",
                time-format="{{ ::ctrl.timeFormat }}",
                disabled="ctrl.disabled",
                ng-if="!ctrl.isMobile"
              )
              input.input.form-control(
                type="time",
                ng-model="ctrl.startTime",
                ng-change="ctrl.onStartDateTimeChange()",
                ng-blur="ctrl.dateOnBlurFn()",
                ng-disabled="ctrl.disabled",
                ng-if="ctrl.isMobile"
              )
        .col-xs-12.col-md-4
          .fg-line
            esn-date-picker(
              ng-model='ctrl.end',
              ng-change="ctrl.onEndDateChange()",
              placeholder="{{ 'End date' | translate }}",
              ng-disabled="ctrl.disabled",
              ng-blur="ctrl.dateOnBlurFn()",
              size="10",
              date-format="{{::ctrl.dateFormat}}",
              is-all-day="ctrl.full24HoursDay",
              min-date="ctrl.minEndDate",
              autoclose="1",
              start-week="1",
              custom-attributes="{'cal-date-to-moment': 'cal-date-to-moment'}"
              ng-if="!ctrl.isMobile"
            )
            input.input.form-control(
              type="date",
              ng-model="ctrl.endTime"
              ng-disabled="ctrl.disabled",
              ng-change="ctrl.onEndDateTimeChange()"
              ng-if="ctrl.isMobile"
            )
          .form-group
            .fg-line(ng-if='!ctrl.full24HoursDay')
              time-select(
                date="ctrl.end",
                on-time-change="ctrl.onEndDateTimeChange",
                locale="{{ ::ctrl.locale }}",
                time-format="{{ ::ctrl.timeFormat }}",
                disabled="ctrl.disabled",
                ng-if="!ctrl.isMobile"
              )
              input.input.form-control(
                type="time",
                ng-model="ctrl.endTime",
                ng-change="ctrl.onEndDateTimeChange()",
                ng-blur="ctrl.dateOnBlurFn()",
                ng-disabled="ctrl.disabled",
                ng-if="ctrl.isMobile"
              )
        .col-xs-12.col-md-4.hidden-xs
          .form-group.text-center
            .fg-line.nopadding
              .checkbox.allday
                label
                  input(type="checkbox",
                    ng-model='ctrl.full24HoursDay',
                    ng-disabled="ctrl.disabled",
                    ng-change="ctrl.allDayOnChange();")
                  i.input-helper
                  span {{ 'All day' | translate }}
        .col-xs-12.col-md-4.visible-xs
          .form-group.nopadding
            .fg-line
              .checkbox.allday
                label
                  input(type="checkbox",
                    ng-model='ctrl.full24HoursDay',
                    ng-disabled="ctrl.disabled",
                    ng-change="ctrl.allDayOnChange();")
                  i.input-helper
                  span {{ 'All day' | translate }}

